@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


body {
  background-color: rgb(137, 47, 221);
}

#main-page-header {
  text-align: center;
  color: azure;
  font-family: 'Bungee Spice', cursive;
  border: 2px solid #f1ecec;
}