@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body {
  background-color: rgb(81, 13, 145);
  background-image: url(/assets/images/background-image-needles.jpg);
  background-size: no-repeat; 

}
/*Styling for the title header */

.main-page-header {
  background-image: url(assets/images/blue-forest-2.jpeg);
  background-size: cover; /* Stretch to cover without blurring */
  background-repeat: no-repeat;
  background-position: center; /* Center the image horizontally and vertically */
  text-align: center;
  font-family: 'Bungee Spice', cursive;
  font-size: 30px;
  border: 4px solid #db2323;
  border-style: double;
}


/* Styling for the Main Navigation Bar across site */

.main-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(81, 13, 145);
  font-size: 50px;
  font-family: 'Passion One', cursive;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav li {
  margin-right: 20px;
}

.main-nav a {
  position: relative;
  display: block;
  color: #fcfcfc;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.main-nav a:hover {
  color: #fff; /* Change text color on hover */
  border-bottom: 3px solid #db2323; /* Add bottom border on hover */
}

@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/* Styling for the Homepage image and text boxes */


.container {
  font-size: 50px;
  font-family: 'Passion One', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto 0; 
  padding: 10px;
}

.box {
  position: relative;
  flex-basis: calc(50% - 20px);
  margin-bottom: 30px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.box::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(135deg, #f8f8f8 0%, #a09bdc 100%);
  z-index: -1;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .box {
    flex-basis: 100%;
  }
}


/* STYLING FOR THE FOOTER */

.main-footer {
  font-family: 'Passion One', cursive;
  background-color: #f0f0f0;
  padding: 10px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  opacity: 0.8;
}

.social-links {
  margin-bottom: 10px;
}

.social-link {
  font-size: 24px;
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}

.main-footer p {
  font-size: 14px;
  color: #666;
}


/* MEDITATION PAGE */

.meditation-paragraph {
  font-family: 'Passion One', cursive;
  font-size: 35px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

/* MEDITATION PAGE TIMER*/

.timer-container {
  font-family: 'Passion One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.timer-container button {
  font-family: 'Passion One', cursive;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(81, 13, 145);
  border: 2px solid rgb(233, 245, 245);
  color: white;
}

.timer-container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-buttons-container,
.stop-reset-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.button-container {
  font-family: 'Passion One', cursive;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.timer-display {
  font-family: 'Passion One', cursive;
  font-size: 60px;
  color: white; 
  background-color: rgb(81, 13, 145);
  margin: 20px 0;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 768px) {
  .timer-container button {
    font-size: 20px; 
    padding: 10px 20px; 
  }

  .timer-display {
    font-size: 40px; 
    margin: 10px 0; 
  }
}


/* TIMER MESSAGES */
.message {
  background-image: url(/assets/images/stones-water.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 60px;
  font-family: 'Bayon', sans-serif;
  text-align: center;
  margin: 20px 0;
  color: #333;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255); /* White border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding for better appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
/* CONTACTS PAGE------------*/

/* CONTACT & INFO CARDS */

.text-area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.text-area {
  border: 2px solid #db2323;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  cursor: pointer;
  font-family: 'Passion One', cursive;
}

.text-area i {
  font-size: 48px;
  margin-bottom: 10px;
  color: #db2323;
}

.text-area h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.text-area p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  display: none;
}


/* CONTACT CONTENT */ 

.contact-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('your-image-url.jpg');
  background-color: #fff;
  background-size: cover;
  padding: 20px;
  border: 2px solid #333; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 20px; 
}

.contact-content {
  font-family: 'Passion One', cursive;
  font-size: 30px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .contact-content-box {
    flex-direction: column;
    text-align: center;
  }
  
  .contact-content {
    font-size: 24px;
    padding: 10px;
  }
}


/* MAP CONTAINER */

#map {
  width: 400px;
  height: 300px;
}
